@use "../global/mixins.scss";
@use "../global/variables.scss";

.catalog-products__wrapper {
  padding: 0 30px;

  @media (min-width: variables.$width-tablet) {
    padding: 0 50px;
  }

  @media (min-width: variables.$width-desktop) {
    width: 1050px;
    margin: 0 auto;
  }
}

.catalog-products__list {
  @include mixins.list-reset;
  display: grid;
  grid-template-columns: 260px;
  justify-content: center;
  gap: 30px;

  @media (min-width: 610px) {
    grid-template-columns: repeat(2, 260px);
  }

  @media (min-width: variables.$width-tablet) {
    grid-template-columns: 668px;
    row-gap: 54px;
  }

  @media (min-width: variables.$width-desktop) {
    grid-template-columns: repeat(3, 316px);
    gap: 51px;
  }
}
