@use "../global/mixins.scss";
@use "../global/variables.scss";


.player {
  position: relative;
  background-color: variables.$linen;
  height: 150px;

  @media (min-width: 610px) {
    width: 550px;
    height: 317px;
  }

  @media (min-width: variables.$width-tablet) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: variables.$width-desktop) {
    width: 683px;
  }
}

.player__video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  &:focus-visible {
    outline: 2px solid variables.$shamrock;
  }
}

.player__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: auto;
  border: none;
  width: 101px;
  height: 77px;
  background: url("../img/sprite.svg#play") no-repeat;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    transform: translate(-50%, -50%) scale(1.2);
    outline: none;
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}
