@use "../global/variables.scss";

.popular {
  position: relative;
  padding-bottom: 42px;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    background: url("../img/svg/zigzag-line.svg") 0/auto 6px repeat-x;
  }

  @media (min-width: variables.$width-tablet) {
    padding-bottom: 69px;

    &::after {
      height: 17px;
      background-size: auto 17px;
    }
  }

  @media (min-width: variables.$width-desktop) {
    padding-bottom: 96px;

    &::after {
      height: 23px;
      background-position: center;
      background-size: auto 23px;
      background-repeat: no-repeat;
    }
  }
}

.popular__wrapper {
  padding: 0 30px;

  @media (min-width: variables.$width-tablet) {
    position: relative;
    padding: 0 50px;
  }

  @media (min-width: variables.$width-desktop) {
    width: 1050px;
    margin: 0 auto;
    padding-top: 62px;
  }
}

.popular__title-group {
  margin: 0 0 16px;

  @media (min-width: variables.$width-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 37px;
  }

  @media (min-width: variables.$width-desktop) {
    display: grid;
    grid-template-columns: 126px auto;
    justify-content: start;
    gap: 0 30px;
    padding: 0 19px;
    margin-bottom: 36px;
  }
}

.popular__subtitle {
  margin: 0 0 5px;

  @media (min-width: variables.$width-tablet) {
    margin: 0;
  }

  @media (min-width: variables.$width-desktop) {
    grid-area: 1/2/-1/-1;
  }
}

.popular__signature {
  margin: 0;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: variables.$moderate-aquamarine-1;

  @media (min-width: variables.$width-tablet) {
    margin: 0 0 7px;
    width: 126px;
    text-align: center;
    line-height: 17px;
  }

  @media (min-width: variables.$width-desktop) {
    grid-area: 1/1/-1/-1;
  }
}

.popular__content-group {
  @media (min-width: variables.$width-tablet) {
    width: calc(50% - 42px);
  }

  @media (min-width: variables.$width-desktop) {
    margin-left: 175px;
    width: 292px;
  }
}

.popular__text {
  margin: 0 0 21px;
  font-size: 15px;
  color: variables.$dark-bluish-black;

  @media (min-width: variables.$width-tablet) {
    margin: 0 0 40px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: variables.$width-desktop) {
    margin-bottom: 52px;
  }
}

.popular__list {
  margin: 0 0 28px;
  font-size: 15px;
  line-height: 20px;
  color: variables.$dark-bluish-black;

  @media (min-width: variables.$width-tablet) {
    margin: 0 0 58px;
  }

  @media (min-width: variables.$width-desktop) {
    margin-bottom: 112px;
  }
}

.popular__item {
  padding: 7px 0 12px;
  display: grid;
  grid-template-columns: 98px 162px;
  border-bottom: 1px solid variables.$linen;
}

.popular__definition {
  margin: 0;
}

.popular__image {
  display: block;
  object-fit: cover;

  @media (max-width: variables.$width-mobile) {
    max-width: 334px;
    width: 100%;
    height: auto;
    margin: 0 auto 26px;
  }

  @media (min-width: variables.$width-tablet) {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 50px;
  }

  @media (min-width: variables.$width-desktop) {
    z-index: -1;
  }
}

.popular__price {
  margin: 0 2px 24px 0;
  font-weight: 700;
  color: variables.$dark-bluish-black;
  text-align: center;

  @media (min-width: variables.$width-tablet) {
    margin: 0 0 32px;
    font-size: 20px;
    line-height: 24px;
  }
}

.popular__button {
  max-width: 334px;
  width: 100%;
  margin: 0 auto;
}
