@use "../global/variables.scss";
@use "../global/mixins.scss";

.request {
  display: flex;
  flex-direction: column;
}

.request__text {
  padding: 0 30px;
  margin: 0 0 30px;
  font-size: 13px;

  @media (min-width: variables.$width-tablet) {
    padding: 0 50px;
    margin: 0 0 14px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: variables.$width-desktop) {
    width: 1050px;
    margin: 0 auto 13px;
    padding: 0 175px;
    box-sizing: border-box;
  }
}

.request__form {
  display: flex;
  flex-direction: column;
  padding: 0 30px;

  @media (min-width: variables.$width-tablet) {
    padding: 0;
  }
}

.request__heading {
  position: relative;
  padding-right: 23px;
  margin: 0 0 15px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: variables.$moderate-aquamarine-1;
  background-color: variables.$light-main;

  &--type {
    margin: 0 0 22px;
  }

  &--color {
    margin: 0 0 25px;
  }

  &--initials {
    margin: 0 0 29px;
  }

  &--phone {
    margin: 0 0 3px;
  }

  &--email {
    margin: 0 0 4px;
  }

  &--additionally {
    margin: 0 0 22px;
  }

  @media (min-width: variables.$width-tablet) {
    margin: 18px 0 0;
    background-color: inherit;
  }

  @media (min-width: variables.$width-desktop) {
    margin: 18px 0 0 61px;
  }
}

.request__group-wrapper {
  @media (min-width: variables.$width-tablet) {
    background-color: variables.$smoky-white;
  }
}

.request__text-initials {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  line-height: 18px;
  cursor: pointer;

  @media (min-width: variables.$width-tablet) {
    flex-direction: row;
    align-items: center;
    font-size: 19px;
  }
}

.request__text-initials span {
  @media (min-width: variables.$width-tablet) {
    padding-right: 26px;
  }
}

.request__inintials-wrappers {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 23px 0;

  @media (min-width: variables.$width-tablet) {
    gap: 24px 0;
  }
}

.request__group-input {
  position: relative;
  width: 100%;
}

.request__icon-input {
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  color: rgba(variables.$dark-main, 0.2);
  pointer-events: none;

  @media (min-width: variables.$width-tablet) {
    right: 26px;
  }

  @media (min-width: variables.$width-desktop) {
    right: 7px;
  }

  &--message {
    right: 3px;

    @media (min-width: variables.$width-tablet) {
      right: 22px;
    }

    @media (min-width: variables.$width-desktop) {
      right: 3px;
    }
  }
}

.request__field:not(:placeholder-shown) + .request__icon-input {
  color: variables.$moderate-aquamarine-2;
}

.request__field:hover:not(:disabled) + .request__icon-input,
.request__field:focus-visible + .request__icon-input {
  color: variables.$moderate-aquamarine-2;
}

.request__field:invalid:not(:placeholder-shown) + .request__icon-input {
  color: variables.$error;
}

.request__group-bottom {
  display: flex;
  flex-direction: column;

  @media (min-width: variables.$width-tablet) {
    padding: 0 50px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: variables.$width-desktop) {
    width: 1150px;
    margin: 0 auto;
    padding: 0 225px;
    box-sizing: border-box;
  }
}

.request__subtext {
  margin: 0 0 30px;
  font-size: 14px;
  line-height: 16px;
  color: variables.$dark-bluish-black;

  @media (min-width: variables.$width-tablet) {
    max-width: 60%;
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }
}

.request__button {
  align-self: center;

  @media (min-width: variables.$width-tablet) {
    width: 230px;
  }
}
