@use "../global/variables.scss";

.subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: variables.$width-tablet) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: variables.$width-desktop) {
    font-size: 53px;
    line-height: 57px;
  }
}
