@use "../global/mixins.scss";
@use "../global/variables.scss";

.user-list {
  @include mixins.list-reset;
  font-weight: 700;

  @media (min-width: variables.$width-tablet) {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    transform: translateX(36px);
  }

  @media (min-width: variables.$width-desktop) {
    align-content: flex-start;
    max-width: 455px;
  }
}

.user-list__item {
  @media (max-width: variables.$width-mobile) {
    box-shadow: inset 0 1px 0 0 variables.$linen;
  }

  @media (min-width: variables.$width-tablet) {
    box-shadow: inset 1px 0 0 0 variables.$linen;
  }
}

.user-list__link {
  @include mixins.link-reset;
  @include mixins.link-behaviour;
  position: relative;
  display: block;
  padding: 28px 31px 27px 76px;

  @media (min-width: variables.$width-tablet) {
    padding: 33px 36px 31px;

    &--search {
      padding: 36px 31px 34px 34px;
    }

    &--cart {
      padding-left: 84px;
    }
  }

  &:focus-visible {
    box-shadow: inset 0 0 0 2px variables.$shamrock;
    outline: none;
  }
}

.user-list__link:hover .user-list__icon,
.user-list__link:focus-visible .user-list__icon {
  color: variables.$moderate-aquamarine-1;
}

.user-list__link:active .user-list__icon {
  color: rgba(variables.$moderate-aquamarine-1, 0.3);
}

.user-list__icon {
  display: block;
  position: absolute;
  top: calc(50% - 9px);
  left: 31px;
  color: rgba(variables.$dark-main, 0.2);

  @media (min-width: variables.$width-tablet) {
    &--search-tablet {
      position: static;
    }
  }
}

.user-list__search-text {
  @media (min-width: variables.$width-tablet) {
    display: none;
  }
}
