$dark-main: #000000;
$light-main: #ffffff;
$moderate-aquamarine-1: #63d1bb;
$moderate-aquamarine-2: #56c3b2;
$moderate-aquamarine-3: #62d1ba;
$moderate-aquamarine-4: #59d5bc;
$shamrock: #46c1ae;
$dark-bluish-black: #444444;
$black-brown: #231f20;
$smoky-white: #f1f1f1;
$linen: #ececec;
$platinum: #e5e5e5;
$silver: #c6c6c6;
$white-snow: #f9f9f9;
$overlay: rgba(255, 255, 255, 0.9);
$error: #ea5454;

$box-shadow-1: 0 3px 5px rgba(0, 0, 0, 0.1);
$box-shadow-2: 0 5px 10px rgba(0, 1, 1, 0.25);
$box-shadow-3: 0 6px 10px rgba(0, 0, 0, 0.1);

$shadow-border: inset 0 0 0 1px #ececec;

$width-mobile: 767px;
$width-tablet: 768px;
$width-desktop: 1150px;
